.aurora-container {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -10;
  background: linear-gradient(135deg, rgba(82, 39, 255, 0.1) 0%, rgba(124, 255, 103, 0.1) 100%);
}

.aurora-container > canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background: transparent;
}
